
src/*.o
src/*.a
src/*.json

analysis/*.json
analysis/tmp/
analysis/logs/
analysis/__pycache__/
analysis/.ipynb_checkpoints/
analysis/results.csv

tmp/
test/
src/tmp/
stc/test/
tests/tmp
tests/*.out
tests/test.o

*.out
