
src/*.o
src/*.a
src/*.json
src/output/
src/tmp/
src/test/
src/*.data

analysis/*.json
analysis/tmp/
analysis/logs/
analysis/__pycache__/
analysis/.ipynb_checkpoints/
analysis/results.csv

tmp/
test/
tests/tmp
tests/*.out
tests/test.o

*.out
